:root {
  --black: #262614;
  --yellow: #f2ac29;
  --green: #717343;
  --orange: #f29a2e;
  --blue: #a8b2bf;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 3em;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--black);
}

.observationsContainer,
.myList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.observationElement {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 350px;
  min-width: 350px;
  height: auto;
  background-color: var(--yellow);
  text-align: center;
  cursor: pointer;
}

.observationElement:hover {
  box-shadow: 0 0 10px black;
}

.observations {
  display: flex;
}

.textContent {
  font-size: 20px;
}

.birdImage {
  width: 100%;
  height: auto;
  max-width: 100%;
}

#selectedBird {
  margin-bottom: 32px;
  margin-top: 64px;
}

.container {
  text-align: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btnContainer {
  text-align: center;
}

.watchlist {
  list-style: none;
  padding: 0;
}

.watchlist li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.watchlist li:last-child {
  border-bottom: none;
}

.deleteBtn {
  background-color: var(--yellow);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
}

.deleteBtn:hover {
  background-color: var(--orange);
}

.addToListBtn {
  padding: 32px 16px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--yellow);
  cursor: pointer;
  margin-top: 10px;
  min-width: 178px;
}

#loginBtn,
#registerBtn,
#clearListBtn {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  min-width: 135px;
}

.addToListBtn:hover,
#loginBtn:hover,
#registerBtn:hover,
#clearListBtn:hover {
  background-color: var(--orange);
}

.listItem {
  font-size: 16px;
}

#loginContainer,
#registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputInstr {
  text-align: left;
  margin: 8px auto;
}

.loginForm,
.registerForm {
  width: 300px;
  border: none;
  text-align: center;
}

input[type="email"],
input[type="password"] {
  width: 94%;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 8px;
}

.error {
  color: rgb(119, 6, 6);
}

footer {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
